<p id="notice"><%= notice %></p>

<h1>Listing Calculators</h1>

<table>
  <thead>
    <tr>
      <th>Current savings</th>
      <th>Interest rate</th>
      <th>Yearly contributions</th>
      <th>Inflate contributions</th>
      <th>Inflation rate</th>
      <th>Current age</th>
      <th>Retirement age</th>
      <th>Withdraw until age</th>
      <th>Post retire interest rate</th>
      <th>Retirement tax rate</th>
      <th>Show in todays dollars</th>
      <th>Yearly retirement income</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calculators.each do |calculator| %>
      <tr>
        <td><%= calculator.current_savings %></td>
        <td><%= calculator.interest_rate %></td>
        <td><%= calculator.yearly_contributions %></td>
        <td><%= calculator.inflate_contributions %></td>
        <td><%= calculator.inflation_rate %></td>
        <td><%= calculator.current_age %></td>
        <td><%= calculator.retirement_age %></td>
        <td><%= calculator.withdraw_until_age %></td>
        <td><%= calculator.post_retire_interest_rate %></td>
        <td><%= calculator.retirement_tax_rate %></td>
        <td><%= calculator.show_in_todays_dollars %></td>
        <td><%= calculator.yearly_retirement_income %></td>
        <td><%= link_to 'Show', calculator %></td>
        <td><%= link_to 'Edit', edit_calculator_path(calculator) %></td>
        <td><%= link_to 'Destroy', calculator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Calculator', new_calculator_path %>
